# Secret & Local Config
.env
*.env

# SQLite Database
data/
*.db

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Streamlit
.streamlit/secrets.toml

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
